@import url("../../../assets/base.css");

.searchContainer {
  display: flex;
  flex-direction: column;
  width: 40%;

  gap: 0.25rem;

  box-shadow: 0px 0px 0.25rem var(--light-gray);
  border-radius: 0.25rem;
}

.searchBar {
  display: flex;

  padding: 1rem;

  box-sizing: border-box;
  box-shadow: 1px 1px 3px var(--light-gray);

  gap: 1.25rem;

  align-items: center;
  justify-content: center;
}

.searchInput2 {
  width: 80%;
}

.searchIconContainer {
  display: flex;

  height: 100%;

  padding: 0.4rem 0.75rem;

  align-items: center;
  justify-content: center;

  box-shadow: 0px 0px 3px var(--light-gray);
  box-sizing: border-box;

  border: 0;
  border-radius: 0.25rem;

  background-color: white;

  cursor: pointer;
}

.searchIconContainer:hover {
  background-color: var(--light-gray-2);

  transition: background-color 0.15s ease-in;
}

.notFoundContainer {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

.notFoundContent {
  display: flex;
  flex-direction: column;

  gap: 1.5rem;

  font-size: large;
  font-weight: 500;
}

.itemsContainer {
  display: flex;
  flex-direction: column;

  width: 100%;

  gap: 0.25rem;
  height: 100%;

  overflow-y: scroll;
}

.item {
  display: flex;

  width: 100%;
  box-shadow: 1px 1px 2px var(--light-gray);

  cursor: pointer;
}

.item:hover {
  background-color: var(--light-gray-2);

  transition: background-color 0.15s ease-in;
}

.itemContent {
  display: flex;
  flex-direction: column;

  padding: 0.5rem 0.5rem;
  gap: 0.25rem;

  font-family: "DM Sans";
}

.codes {
  display: flex;
  font-family: "DM Sans";

  font-weight: 500;

  gap: 0.5rem;
}

.selectedItem {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  gap: 1rem;
  padding: 1rem;

  width: 100%;

  box-shadow: 1px 1px 2px var(--light-gray);
}

.selectedItemContent {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
}

.addBtn {
  display: flex;

  padding: 0.25rem 0.75rem;

  border-radius: 1rem;

  font-size: 0.875rem;
  font-weight: 500;

  border: 0.066rem solid var(--dark-gray);
  background-color: transparent;

  gap: 0.5rem;

  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  cursor: pointer;
}

.buttonCont {
  display: flex;
  flex-direction: column;

  gap: 0.5rem;

  padding: 0;

  width: 100%;

  box-sizing: border-box;

  align-items: flex-start;
  justify-content: center;
}

.addBtn:hover {
  background-color: var(--light-gray-2);
}

.instLabel {
  font-size: small;
}

.showPosCont {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  justify-content: center;

  gap: 0.5rem;
}

.confirmAddCont {
  display: flex;

  gap: 0.75rem;
}

.cancelBtn {
  display: flex;
  color: var(--white);

  padding: 0.25rem 0.75rem;

  border-radius: 1rem;

  gap: 0.5rem;

  font-size: 0.875rem;
  font-weight: bold;

  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  cursor: pointer;

  background-color: var(--light-red);
  border: 0;
}
