.extendedRow {
  width: 100%;
  height: 5rem;
}

.extendedRowCell {
  white-space: pre-wrap;
}

.extendedRowContainer {
  display: flex;

  gap: 1rem;

  flex-direction: column;

  width: 100%;
  height: 100%;
}
.headerContainer {
  display: flex;

  justify-content: baseline;
  align-items: center;

  font-family: "DM Sans";
}

.smallTag {
  display: flex;

  align-items: center;
  justify-content: flex-start;

  width: 20%;

  gap: 0.25rem;
}

.largeTag {
  display: flex;
  flex: 1;

  width: 30%;

  gap: 0.25rem;
}
