@import url("../../assets/base.css");

.mainContainer {
  display: flex;

  background-color: white;

  gap: 2rem;

  box-shadow: 0px 0px 0.25rem var(--light-gray);
  box-sizing: border-box;

  border-radius: 1rem;

  width: 100%;
  height: 100%;

  /* Change for each device */
  max-height: 968px;
  max-width: 1844px;

  overflow: hidden;

  padding-right: 1rem;
}
