@import url("../../../assets/base.css");

.selectedBackground {
  position: absolute;
  display: flex;

  justify-content: center;
  align-items: center;

  z-index: 2;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: oklch(0.2 0 0 / 10%);
}

.boxCont {
  display: flex;

  gap: 0.5rem;

  padding: 1rem;

  z-index: 2;

  background-color: white;

  border-radius: 1rem;

  width: 32%;
  height: 35%;
}

.boxRow {
  display: flex;

  align-items: center;
  justify-content: flex-end;

  width: 100%;
  height: fit-content;
}

.crossBtn {
  cursor: pointer;
}

.crossBtn:hover {
  background-color: var(--light-gray-2);
}

.prodsBox {
  display: flex;
  flex-direction: column;

  flex: 1;

  width: 100%;

  overflow: auto;

  box-shadow: 0 0 3px var(--light-gray);
}

.prodCont {
  display: flex;
  flex-direction: column;

  gap: 0.8rem;

  width: 100%;

  padding: 1rem 0.5rem;

  box-sizing: border-box;
  box-shadow: 0 0 3px var(--light-gray);
}

.prodCont:hover {
  background: var(--light-gray-2);
}

.mainCode {
  width: 100%;
  font-weight: 500;
}

.noProdsCont {
  display: flex;

  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  font-size: larger;
}
